<?xml version="1.0" encoding="utf-8"?>
<config>
 <fieldset name="global" label="General" description="Content Statistics global settings" >
	
	<field name="viewformat" type="list" default="" label="View for backend interface" description="View for backend interface">
      <option value="">Default</option>
      <option value="stream">Stream</option>
    </field>

    <field name="hours" type="list" default="+00:00" label="Adjust data showing timezone" description="Adjust data showing timezone" >
		<option value="-12:00">-12 hours</option>
		<option value="-11:00">-11 hours</option>
		<option value="-10:00">-10 hours</option>
		<option value="-09:00">-9 hours</option>
		<option value="-08:00">-8 hours</option>
		<option value="-07:00">-7 hours</option>
		<option value="-06:00">-6 hours</option>
		<option value="-05:00">-5 hours</option>
		<option value="-04:00">-4 hours</option>
		<option value="-03:00">-3 hours</option>
		<option value="-02:00">-2 hours</option>
		<option value="-01:00">-1 hour</option>
		<option value="+00:00">JNO</option>
		<option value="+01:00">+1 hour</option>
		<option value="+02:00">+2 hours</option>
		<option value="+03:00">+3 hours</option>
		<option value="+04:00">+4 hours</option>
		<option value="+05:00">+5 hours</option>
		<option value="+06:00">+6 hours</option>
		<option value="+07:00">+7 hours</option>
		<option value="+08:00">+8 hours</option>
		<option value="+09:00">+9 hours</option>
		<option value="+10:00">+10 hours</option>
		<option value="+11:00">+11 hours</option>
		<option value="+12:00">+12 hours</option>
		</field>

		<field name="csvsep" type="text" class="input-mini" default=";" label="CSV column separator" description="CSV column separator" />
		
		<field name="maxrows" type="text" class="input-mini" default="5000" label="Max rows export in CSV" description="Max rows export in CSV" />

	</fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
            >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_contentstats"
                section="component" />
    </fieldset>
	
</config>
